body{
    color:black !important;
    font-family:montserrat, sans-serif;
    
}

button a{
    color:black;
}

header{
    margin-top:-50px !important;
}

h1{
    color: #1e3a8a;
  font-weight: 600;
}

.box{
    text-align:center;
    color: rgba(30, 59, 138, 0.795);
    font-weight: 500;

    width:70%;
    margin-left:400px;
    margin-top:50px;
    gap:50px;
    
    padding: 2em;
    min-height:700px;
    display: flex !important;
    flex-direction:column;
    
    
    border: 2px solid #1e3a8a;
    border-radius: 10px;
    box-shadow: 12px 10px 13px rgba(0, 27, 107, 0.712);
}

.margem_baixo{
    margin-bottom:40px;
}

.box2{
    margin-top:50px;
}

.box3 button{
   
    margin-left: 30px;
    background-color: #5ae24e71;
    border-style: inset;

    border-color: #5ae24e;
    margin-top: 250px;
    color: #1e3a8a;

    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.box3 button:hover{
    background-color: #5ae24ebe;
    border-radius: 2px;
    transition: 0.5s;
    border-style: outset;
}



